################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bank/v15/Server/sqlite3/db.lock
/.vs/Bank/v15/Server/sqlite3
